


# --- Visual Studio ---
.vs/
out/
build/
*.user
*.sln
*.slnx
*.suo

# --- vcpkg (Biblioteken vi installerade) ---
vcpkg/
vcpkg_installed/

# --- CMake temporära filer ---
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
cmake_install.cmake

# --- Kompilerade filer ---
*.exe
*.obj
*.pdb
*.lib
*.dll

# --- Lab-specifikt ---
# Om du kopierar data-filer till build-mappen behöver de inte trackas där
*/data/*
!lab1/test_data.txt
!lab2/*.txt